[Desktop Entry]
Categories=Application;Game;
Comment[en_US]=Custom launcher for Final Fantasy XIV Online
Comment=Custom launcher for Final Fantasy XIV Online
Exec=/home/gwen/bin/xlcore-launch
GenericName[en_US]=
GenericName=
Icon=xivlauncher
MimeType=
Name[en_US]=XIVLauncher.Core
Name=XIVLauncher.Core
Path=
StartupNotify=true
StartupWMClass=XIVLauncher.Core
Terminal=false
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
